<%= form_with(model: ranking) do |form| %>
  <% if ranking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ranking.errors.count, "error") %> prohibited this ranking from being saved:</h2>

      <ul>
        <% ranking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="contain-blue-box">
      <div class="blue-box">
        <div class="center-box">

            <div class="row justify-content-left">
              <div class="field">
                <%= form.label :title, class: "form-text" %> <br>
                <%= form.text_field :title , autofocus: true,  :required => 'required', class: "form-input"  %>
              </div>
            </div>

            <div class="row justify-content-left last-row-pad" >
              <div class="field">
                <%= form.label :point_total, class: "form-text" %> <br>
                <%= form.number_field :point_total,  autofocus: true,  :required => 'required', class: "form-input"  %>
              </div>
            </div>
            <br>

            <div class="row justify-content-center" style="width: auto;">
              <%= form.submit class: 'button-style-white' %>
            </div>

        </div>
      <div>
  <div>

<% end %>
