<p id="notice"><%= notice %></p>

<h1>User Rankings</h1>

<table class="table-style">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Points</th>
      <th>Rank</th>
    </tr>
  </thead>

  <tbody>
      <% @list_rankings.each do |row| %>
        <tr>
          <td><%= row['first_name'] %></td>
          <td><%= row['last_name']  %></td>
          <td><%= row['email']  %></td>
          <td><%= row['point']  %></td>
          <td><%= current_user.show_ranking_title(row['rnk'])  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>  

</table>


<br>

<h1>Ranking Types</h1> 


<table class="table-style">
  <thead>
    <tr>
      <th>Title</th>
      <th>Point total</th>
      <th colspan="3" style="text-align: center;">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @rankings.each do |ranking| %>
      <tr>
        <td><%= ranking.title %></td>
        <td><%= ranking.point_total %></td>
        <td ><%= link_to 'Show', ranking , class: "button-style"%></td>
        <td ><%= link_to 'Edit', edit_ranking_path(ranking), class: "button-style"%></td>
        <td ><%= button_to 'Destroy', ranking, method: :delete, data: { confirm: 'Are you sure?' } , class: "button-style"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= link_to 'New Ranking', new_ranking_path, class: "button-style-blue" %>
</div>

<br>


