<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ranking.title %>
</p>

<p>
  <strong>Point total:</strong>
  <%= @ranking.point_total %>
</p>

<%= link_to 'Edit', edit_ranking_path(@ranking) %> |
<%= link_to 'Back', rankings_path %>
