<%= form_with model: user do |f| %>
  <div class="input-group mb-3">
    <%= f.label :point, class:"invisible" %>
    <%= f.number_field :point, class: "form-control form-control-sm", style:"width:auto;"%>
    <div class="input-group-append">
    <%= f.button class: "btn btn-outline-secondary" %>
    </div>
    <div class="input-group-append">
    <%= link_to "Cancel", users_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>

