<!--<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.number_field :point %>
  </div>

  <!--<div class="field">
    <%= form.label :is_admin %>
    <%= form.select :is_admin, ['false', 'true'] %>
  </div>

  <div class="actions">
    <%= form.submit "submit" %>
  </div>
<% end %>-->

<div class="product-card">
  <%= form_with model: user do |f| %>
    <div class="mt2">
      <%= f.label :point, class:"invisible"%>
      <%= f.number_field :point %>
      <%= f.button class: "btn btn-primary btn-sm"%>
      <%= link_to "Cancel", users_path, class: "btn btn-secondary btn-sm" %>
    </div>
  <% end %>
</div>
