<!--<%= turbo_frame_tag user do %>
  <div>
    <h3><%= user.first_name + ' ' + user.last_name %></h3>
    <p><%= user.point %></p>
    <div>
      <%= link_to "Edit", edit_user_path(user), class: "mr2", data: { turbo_frame: dom_id(user) } %>
      <%= button_to "Delete", user, method: :delete, class: "btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </div>
<% end %>-->


<tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= turbo_frame_tag user do %>
        <%= user.point %>
    <% end %></td>
    <td><%= user.ranking_id %></td>
    <td><%= link_to "Edit", edit_user_path(user), class: "mr2", data: { turbo_frame: dom_id(user) }, class: "btn btn-primary btn-sm" %></td>
    <td><%= button_to "Delete", user, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-danger btn-sm" %></td>
</tr>
