<!--<%= turbo_frame_tag user do %>
  <div>
    <h3><%= user.first_name + ' ' + user.last_name %></h3>
    <p><%= user.point %></p>
    <div>
      <%= link_to "Edit", edit_user_path(user), class: "mr2", data: { turbo_frame: dom_id(user) } %>
      <%= button_to "Delete", user, method: :delete, class: "btn-danger", form: { data: { turbo_confirm: "Are you sure?" } } %>
    </div>
  </div>
<% end %>-->


<tr>
    <td><%= current_user.update_all_rankings(user.id) %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= turbo_frame_tag user do %>
        <%= user.point %>
    <% end %></td>
    <td><%= current_user.show_ranking_title(user.ranking_id) %></td>
    <td><%= link_to "Edit", edit_user_path(user), data: { turbo_frame: dom_id(user) },  class: "button-style"%></td>
    <td><%= button_to "Delete", user, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } },  class: "button-style" %></td>
</tr>

