<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_points %>
    <%= form.number_field :event_points %>
  </div>

  <div class="field">
    <%= form.label :event_description %>
    <%= form.text_field :event_description %>
  </div>

  <div class="field">
    <%= form.label :event_passcode %>
    <%= form.text_field :event_passcode  %>
  </div>

  <div class="field">
    <%= form.label :event_start %>
    <%= form.datetime_select :event_start %>
  </div>

  <div class="field">
    <%= form.label :event_end %>
    <%= form.datetime_select :event_end %>
  </div>

  <div class="field">
    <%= form.label :event_title %>
    <%= form.text_field :event_title %>
  </div>

  <div class="field">
    <%= form.label :event_location %>
    <%= form.text_field :event_location %>
  </div>

  <!-- Makes the event_type_id a dropdown of options in EventType-->
  <div class="field">
    <%= form.label :event_type_id %>
    <%= form.select :event_type_id, EventType.order(:type_name).map { |event_type| [event_type.type_name, event_type.id] }, include_blank: true, id: "id_of_the_event_type_select_box" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
