<p id="notice"><%= notice %></p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>
  <strong>Event passcode:</strong>
  <%= @event.event_passcode %>
</p>

<p>
  <strong>Event start:</strong>
  <%= @event.event_start %>
</p>

<p>
  <strong>Event end:</strong>
  <%= @event.event_end %>
</p>

<p>
  <strong>Event title:</strong>
  <%= @event.event_title %>
</p>

<p>
  <strong>Event location:</strong>
  <%= @event.event_location %>
</p>


<p>
  <strong>Event type:</strong>
  <div style="width:200px; white-space: nowrap;">
    <div style="width:10px; height:10px; background-color: <%=get_event_color(@event)%>; display: inline-block;"></div>
    <div style="display: inline-block;"><%= get_event_color(@event) %></div>
  </div>
  </p>

<% if current_user&.is_admin? %>
  <p>
    <strong>Event points:</strong>
    <%= @event.event_points %>
  </p>

<%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
<%= link_to 'Back', events_path %> | 
<%= link_to 'Sign In For Event', new_attendance_path(eventID: @event.id) %>

<!-- Show participants per event -->
<p>Number of attendees: <%= @event.attendees.count %></p>
<table class="table-sm">
  <thead>
    <tr class="mb-4">
      <th>Attendees</th>
    </tr>
  </thead>
  <tbody>
    <% @event.attendees.each do |attendee| %>
      <tr>
        <td><p class="text-muted smaller-text" style="margin-bottom: 0;"><%= @event.find_name(attendee.user_id) %> </p></td>
      </tr>
    <% end %>
  </tbody>
</table>