<p id="notice"><%= notice %></p>

<p>
  <strong>Event description:</strong>
  <%= @event.event_description %>
</p>

<p>
  <strong>Event passcode:</strong>
  <%= @event.event_passcode %>
</p>

<p>
  <strong>Event start:</strong>
  <%= @event.event_start %>
</p>

<p>
  <strong>Event end:</strong>
  <%= @event.event_end %>
</p>

<p>
  <strong>Event title:</strong>
  <%= @event.event_title %>
</p>

<p>
  <strong>Event location:</strong>
  <%= @event.event_location %>
</p>


<p>
  <strong>Event type:</strong>
  <div style="width:200px; white-space: nowrap;">
    <div style="width:10px; height:10px; background-color: <%=get_event_color(@event)%>; display: inline-block;"></div>
    <div style="display: inline-block;"><%= get_event_color(@event) %></div>
  </div>
  </p>

<% if current_user&.is_admin? %>
  <p>
    <strong>Event points:</strong>
    <%= @event.event_points %>
  </p>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) if current_user&.is_admin? %> |

<%= link_to 'Back', events_path %>
<%= link_to 'Sign In For Event', new_attendance_path %>
