<%= form_with(model: admin_request) do |form| %>
  <% if admin_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_request.errors.count, "error") %> prohibited this admin_request from being saved:</h2>

      <ul>
        <% admin_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="contain-blue-box">
      <div class="blue-box">
        <div class="center-box">

            <div class="row justify-content-left">
              <div class = "user-text">
                User: <%= current_user.email  %>
                <%= form.hidden_field :user_id,  :value => current_user.id%>
              </div>
            </div>

            <div class="row justify-content-left">
              <div class = "filed">
                <%= form.hidden_field :request_status,  :value => "REQUESTED", class: "form-text"%>
              </div>              
            </div>
            

            <div class="row justify-content-left last-row-pad" >
              <div>
                <%= form.label :request_reason, class: "form-text" %>
                <%= form.text_field :request_reason, class: "form-input"  %>
              </div>              
            </div>
            <br>

            <div class="row justify-content-center" style="width: auto;">
              <%= form.submit class: 'button-style-white' %>
            </div>

        </div>
      <div>
  <div>


<% end %>