<p id="notice"><%= notice %></p>

<h1>Admin Requests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Request status</th>
      <th>Request reason</th>
      <th>Requested at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_requests.each do |admin_request| %>
      <!--only display if admin OR if user and is users admin request-->
      <% if (current_user.is_admin || current_user.id == admin_request.user_id) %>
        <tr>
            <td><%= admin_request.user_id %></td>
            <td><%= admin_request.request_status %></td>
            <td><%= admin_request.request_reason %></td>
            <td><%= admin_request.created_at %></td>
            <!--should only be able to review the request if is an admin-->
            <% if (current_user.is_admin) %>
                <td><%= link_to 'Review', admin_request %></td>
            <% end %>
            <!--should only be able to edit if this is the current users request-->
            <% if (current_user.id == admin_request.user_id) %>
                <td><%= link_to 'Edit', edit_admin_request_path(admin_request) %></td>
            <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<!--cannot request admin status if you're already an admin-->
<!--also cannot request if you've already requested it-->
<% if (!current_user.is_admin && !@has_request) %>
    <%= link_to 'New Admin Request', new_admin_request_path %>
<% end %>
