<h1>Show Admin Request</h1>

<p id="notice"><%= notice %></p>
<div class="contain-blue-box">
<div class="blue-box-show", style="margin-top: 30px !important;">
  <div class="center-box-show", style="width: 70% !important; word-wrap: break-word;">

      <div class="row justify-content-left">
        <p class="show-text">
          <strong>User:</strong>
          <%= current_user.full_name %>
        </p>        
      </div>

      <div class="row justify-content-left">
        <p class="show-text">
          <strong>Request status:</strong>
          <%= @admin_request.request_status %>
        </p>        
      </div>

      <div class="row justify-content-left">
        <p class="show-text">
          <strong>Request reason:</strong>
          <%= @admin_request.request_reason %>
        </p>        
      </div>

      <div class="row justify-content-left" >
        <p class="show-text">
          <strong>Requested at:</strong>
          <%= @admin_request.created_at.to_s(:long) %>
        </p>
      </div>

      <br>
  </div>

<div>
<div>

<!--should only give option to Approve/Deny if the request has not yet been processed-->
<% if (@admin_request.request_status == "REQUESTED") %>
<div class="d-flex justify-content-center">
    <%= link_to 'Approve', approve_path(@admin_request), class: 'button-style-blue' %> 
    <%= link_to 'Deny', deny_path(@admin_request), class: 'button-style-blue' %> 
</div>

<% end %>

<div class="d-flex justify-content-center">
  <%= link_to 'Back', admin_requests_path, class: 'button-style-blue' %>
</div>
