<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @admin_request.user_id %>
</p>

<p>
  <strong>Request status:</strong>
  <%= @admin_request.request_status %>
</p>

<p>
  <strong>Request reason:</strong>
  <%= @admin_request.request_reason %>
</p>

<p>
  <strong>Requested at:</strong>
  <%= @admin_request.created_at %>
</p>

<!--should only give option to Approve/Deny if the request has not yet been processed-->
<% if (@admin_request.request_status == "REQUESTED") %>
    <%= link_to 'Approve', approve_path(@admin_request) %> |
    <%= link_to 'Deny', deny_path(@admin_request) %> |
<% end %>
<%= link_to 'Back', admin_requests_path %>