<%= form_with(model: event_type) do |form| %>
  <% if event_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_type.errors.count, "error") %> prohibited this event_type from being saved:</h2>

      <ul>
        <% event_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="contain-blue-box">
  <div class="blue-box">
    <div class="center-box">

        <div class="row justify-content-left">
          <div class="field">
            <%= form.label :type_name , class: "form-text" %>
            <%= form.text_field :type_name , class: "form-input"  %>
          </div>          
        </div>

        <div class="row justify-content-left">
          <div class="field">
            <%= form.label :description , class: "form-text" %>
            <%= form.text_field :description , class: "form-input"  %>
          </div>          
        </div>

        <div class="row justify-content-left last-row-pad" >
          <div class="field">
            <%= form.label :color , class: "form-text" %>
            <%= form.color_field :color , class: "form-input"  %>
          </div>          
        </div>
        <br>

        <div class="row justify-content-center" style="width: auto;">
          <%= form.submit class: 'button-style-white' %>
        </div>

    </div>
  <div>
<div>

<% end %>
