<%= form_with(model: attendance) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
        <% attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="contain-blue-box">
    <div class="blue-box">
      <div class="center-box">
        <div class="row justify-content-left">
          <% if current_user %>
              <div class= "user-text">
                User: <%= current_user.get_name %>
                <%= form.hidden_field :user_id,  :value => current_user.id%>
              </div>         
          <% end %>              
        </div>
        <div class="row justify-content-left">
          <div class="field">
            <%= form.label :event_id , class: "form-text me-3" %>
            <%= form.select :event_id, Event.order(:event_title).map { |event| [event.event_title, event.id] }, selected: params[:eventID], id: "id_of_the_event_id_select_box" , class: "form-input" %>
          </div>              
        </div>
        <div class="row justify-content-left last-row-pad" >
          <div class="field">
            <%= form.label :password , class: "form-text" %>
            <%= form.text_field :password , class: "form-input" %>
          </div>      
        </div>
        <p style="color: red;" id="notice"><%= notice %></p> 
        <br>
        <div class="row justify-content-center" style="width: auto;">
          <%= form.submit class: 'button-style-white' %>
        </div>
      </div>
    <div>
  <div>

<% end %>




<% if false %>

<div class="contain-blue-box">
<div class="blue-box">
  <div class="center-box">

      <div class="row justify-content-left last-row-pad" >
        <div class="field">
        <%= form.label :user_id , class: "form-text" %>
        <%= form.select :user_id, User.order(:email).map { |user| [user.email, user.id] }, include_blank: true, id: "id_of_the_user_id_select_box" , class: "form-input" %>
        </div>
          # <div class="field">
          #   <%= form.label :event_id %>
          #   <%= form.select :event_id, Event.order(:event_title).map { |event| [event.event_title, event.id] }, include_blank: true, id: "id_of_the_event_id_select_box"%>
          # </div>        
      </div>
      <br>


  </div>
<div>
<div>


<% end %>


