<p id="notice"><%= notice %></p>
<div class="contain-blue-box">
<div class="blue-box-show" style="margin-top: 60px;">
  <div class="center-box-show", style="width: 50% !important; word-wrap: break-word;">

      <div class="row justify-content-left">
        <p class="show-text-header" style="font-size: 30px;">
          <strong>User:</strong>
          <%= User.where(id: @attendance.user_id).last.first_name %>
          <%= User.where(id: @attendance.user_id).last.last_name %>
          
        </p>
      </div>

      <div class="row justify-content-left">
        <p class="show-text-header" style="font-size: 30px;">
          <strong>User Email:</strong>
          <%= User.where(id: @attendance.user_id).last.email %>

        </p>
      </div>

      <div class="row justify-content-left">
        <p class="show-text-header" style="font-size: 30px;">
          <strong>Event:</strong>
          <%= Event.where(id: @attendance.event_id).last.event_title %>
        </p>
      </div>

      <div class="row justify-content-left" >
        <p class="show-text-header" style="font-size: 30px;">
          <strong>Points:</strong>
          <%= @attendance.points %>
        </p>
      </div>

      <br>


  </div>

<div>
<div>

<div class="d-flex justify-content-center">
  <% if current_user.is_admin %>
  <%= link_to 'Edit', edit_attendance_path(@attendance) , class: 'button-style-blue' %> 
  <% end %>
  <%= link_to 'Back', events_path , class: 'button-style-blue' %>
</div>
