<!DOCTYPE html>
<html>
  <head>
    <title>Alexander Hamilton Society</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
  </head>
  


  <body>
    <div id="page-container">
      <div id="content-wrap">
        <!-- Navbar -->
        <%= render partial: "shared/navbar" %>
    
        <!-- Contents go here -->
        <div class="container .align-item-center min-vh-100">
          <%= yield %>
        </div>
      </div>
      <footer id="footer">
      <%= render partial: "shared/footer" %>
      </footer>
    </div>
  </body>

  
  
</html>
