<!-- source: https://mdbootstrap.com/docs/standard/extended/profiles/ -->
<%= current_user.assign_ranking %>
<section class="login-container d-flex justify-content-center align-items-center" style="background-color: white;">
  <div class="container">
    <div class="row d-flex justify-content-center mt-8" style="overflow-y: hidden !important;">
      <div class="col col-lg-8">
        <div class="card profile-card" style="border-radius: .5rem;">
          <div class="row g-0">
          
            <!-- Profile (Left section) -->
            <div class="col-md-4 d-flex gradient-custom text-center justify-content-center align-items-center"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <div class="row d-flex justify-content-center align-items-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar" class="img-fluid" style="width: 80px;" />
                <h2 class="ahs-text my-2" style="font-size: 20px !important;"> <%= current_user.first_name %> <%= current_user.last_name %></h2>
                <%= link_to " Edit Profile", profile_user_path(current_user), class: "far fa-edit mb-5 btn-default ahs-text no-hover", id: "Edit Profile"%>
              </div>
            </div>

            <!-- Right section -->
            <div class="col-md-8 ahs-text-black">
              <div class="card-body p-5">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                
                <!-- first row -->
                <div class="row pt-1" style="padding: 4px 36px 0px">
                  <div class="col-6">
                    <h6>Email</h6>
                    <p class="text-muted smaller-text" style="text-transform: none !important;"><%= current_user.email %></p>
                  </div>
                  
                  <div class="col-6">
                    <!-- Admin do not need ranking -->
                    <% if !current_user.is_admin? %>
                      <h6>Ranking</h6>
                      <p class="text-muted smaller-text"><%= current_user.get_ranking_title %></p>
                    <% end %>                      
                  </div>
                </div>

                <!-- second row -->
                <div class="row pt-1" style="padding: 4px 36px 0px"> 
                  <div class="col-6">
                    <h6>Role</h6>
                    <p class="text-muted smaller-text"><%= current_user.role? %></p>
                  </div>
                  <div class="col-6">
                    <!-- Only user can submit admin request -->
                    <% if !current_user.is_admin? %>
                      <%= link_to 'Request Admin', new_admin_request_path, class: "button custom-button-blue" %>
                    <% end %>
                    <% if current_user.is_admin? %>
                      <%= link_to 'Review Admin', admin_requests_path, class: "button custom-button-blue" %>
                    <% end %>
                  </div>
                </div>

                <!-- user view -->
                <% if !current_user.is_admin? %>
                  <h6 class="mb-4" style="padding-left: 36px;">Attendance points: <%= current_user.user_points %></h6>                 
                  <h6 class="center">Recent Events Attended</h6>
                  <hr class="mt-0 mb-4 mx-6" style="width: 50%; margin:0 auto;">
                  <div class="row pt-1 justify-content-center align-items-center">
                    <div class="col mb-3 center">
                      <% if current_user.recent_attendance.blank? %>
                        <p class="smaller-text no-hover" style="text-transform: none;"> No current events attended, you can sign up for event <%= link_to "HERE", events_path %></p> 
                      <% else %>
                        <!-- table for events -->
                          <table class="table-sm">
                            <thead>
                              <tr class="mb-4">
                                <th class="custom-table">Event</th>
                                <th>Date</th>
                              </tr>
                            </thead>

                            <tbody>
                              <% current_user.recent_attendance.each do |attendance| %>
                                <tr>
                                  <td class="custom-table"><p class="text-muted smaller-text" style="margin-bottom: 0;"><%= link_to Event.where(id: attendance.event_id).last.event_title, event_path(attendance.event_id), class:"no-hover", style:"color: rgb(58, 130, 212); font-weight: bold;" %></p> </td>
                                  <td><p class="text-muted smaller-text" style="margin-bottom: 0;"><%= Event.where(id: attendance.event_id).last.event_start.to_s(:short) %> to <%= Event.where(id: attendance.event_id).last.event_end.to_s(:short) %></p></td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        <!-- end table of events -->
                      <% end %>
                    </div>
                  </div>
                <% end %>

                <!-- admin view -->
                <% if current_user.is_admin? %>
                  <h6 class="center">Upcoming Events</h6>
                  <hr class="mt-0 mb-3" style="width: 50%; margin:0 auto;">
                  <div class="row pt-1 px-4">
                    <div class="col mb-3 center">
                    <% if @event.recent_events.blank? %>
                      <p class="smaller-text no-hover" style="text-transform: none;"> Currently no events, you can create one <%= link_to "HERE", events_path %></p>
                    <% else %>
                      <!-- table for events -->
                        <table class="table-sm">
                          <thead class="mb-4">
                            <tr class="mb-4" style="font-size: 16px !important;">
                              <th class="custom-table" style="padding-bottom: 6px;">Event</th>
                              <th>Date</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @event.recent_events.each do |event| %>
                              <tr>
                                <td class="custom-table"><p class="text-muted smaller-text" style="margin-bottom: 0;"><%= link_to event.event_title, event_path(event.id), class:"no-hover", style:"color: rgb(58, 130, 212); font-weight: bold;" %></p> </td>
                                <td><p class="text-muted smaller-text" style="margin-bottom: 0;"><%= event.event_start.to_s(:short) %> to <%= event.event_end.to_s(:short) %></p></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      <!-- end table for events -->  
                    <% end %>
                    </div>
                  </div>
                <% end %>
                
                <!-- bottom options -->
                
                <div class="center">
                  <% if !current_user.is_admin? && !current_user.recent_attendance.blank? %>
                    <%= link_to 'full attendance history', history_path, class: "button custom-button-blue" %> 
                  <% end %>
                </div>
                <div class="center">
                  <%= link_to 'Back            |', :back, class: "btn btn-default" %> 
                  <%= link_to 'Delete Account', current_user, method: :delete, data: { confirm: 'Are you sure to permanently delete your account?' }, class: "btn btn-default", style: "padding-left: 0;"  %> 
                </div>                             
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
